<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/images/logo.png"/>
  </div>


  <form id="form" (ngSubmit)="send()" [formGroup]="credentials">
    <p>
      Enter your email below and we'll send you instructions to recover your password
    </p>
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>
    <ion-button type="submit" expand="block" color="secondary" shape="round" [disabled]="!credentials.valid">Send</ion-button>
    <p routerLink="/login">Already have an account? <b>Login here</b></p>
  </form>
</ion-content>
