<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button routerLink="/login" color="primary">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Create your<br/>Account</h1>

  <form id="form" (ngSubmit)="signUp()" [formGroup]="credentials">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors" class="errors">
      <span *ngIf="confirmPassword.errors?.required">confirmPassword is required</span>
      <span *ngIf="confirmPassword.errors?.minlength">confirmPassword needs to be 6 characters</span>
    </div>

    <ion-button type="submit" expand="block" shape="round" color="primary" [disabled]="!credentials.valid">
      Join Us
      <ion-icon name="enter" slot="end"></ion-icon>
    </ion-button>
  </form>

  <p>By pressing 'Join Us' you agree to <br />our terms & conditions.</p>
</ion-content>
