<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="swiper-slide">
        <img src="assets/images/intro-1.png" />
        <p style="font-style: italic;">...instant response from law enforcement officers...</p>
        <ion-button (click)="next()" fill="outline" color="primary">Next</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="swiper-slide">
        <img src="assets/images/intro-2.png" />
        <p style="font-style: italic;">...live report of incidents...</p>
        <ion-button (click)="next()" fill="outline" color="primary">Next</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="swiper-slide">
        <img src="assets/images/intro-3.png" />
        <p style="font-style: italic;">...accurate location tracker...</p>
        <ion-button (click)="next()" fill="outline" color="primary">Next</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="swiper-slide">
        <img src="assets/images/intro-6.png" />
        <!-- <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button> -->
        <ion-button (click)="start()" fill="outline" color="primary">Get Started</ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
